<div class="container-fluid" *ngIf="!showForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-header d-flex justify-content-between">
          <h1>Daftar Promo</h1>
          <div class="d-flex justify-content-end">
            <form class="form-inline d-flex align-items-center">
              <div class="form-group flex-grow-1 mb-0 me-2">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tulis nama promo"
                    [(ngModel)]="filter.name"
                    name="name"
                    debounceKeyUp
                    (onEvent)="reloadDataTable()"
                  />
                </div>
              </div>
              <div class="form-group flex-grow-1 mb-0 me-2">
                <div class="input-group">
                  <ng-select
                    name="type"
                    appendTo="body"
                    [(ngModel)]="filter.status"
                    placeholder="Status"
                    [searchable]="false"
                    (change)="reloadDataTable()"
                  >
                    <ng-option [value]="'voucher'">Voucher</ng-option>
                    <ng-option [value]="'diskon'">Diskon</ng-option>
                  </ng-select>
                </div>
              </div>
            </form>

            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="formCreate()"
            >
              <em class="fa fa-plus font-size-14 align-middle me-1"></em> Tambah
              Promo
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover" datatable [dtOptions]="dtOptions">
            <thead class="thead-light">
              <tr>
                <th class="text-center" style="width: 70px">No</th>
                <th class="text-center">Foto</th>
                <th class="text-center">Nama</th>
                <th class="text-center">Type</th>
                <th class="text-center">Total</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let promo of listPromo">
                <td class="vertical-middle text-center">
                  {{ promo.no }}
                </td>
                <td class="vertical-middle text-center">
                  <img class="img-promo" src="{{ promo.photo_url }}" alt="" />
                </td>
                <td class="vertical-middle text-center">{{ promo.name }}</td>
                <td
                  class="vertical-middle text-center"
                  *ngIf="promo.status == 'voucher'"
                >
                  Voucher
                </td>
                <td
                  class="vertical-middle text-center"
                  *ngIf="promo.status == 'diskon'"
                >
                  Diskon
                </td>
                <td class="vertical-middle text-center">
                  {{
                    promo.nominal_percentage
                      ? (promo.nominal_percentage | number) + "%"
                      : "Rp " + (promo.nominal_rupiah | number)
                  }}
                </td>

                <td class="vertical-middle text-center text-right">
                  <a
                    href="javascript: void(0);"
                    class="align-middle me-2"
                    (click)="formUpdate(promo)"
                    placement="left"
                    container="body"
                    ngbTooltip="Ubah"
                  >
                    <em class="fa fa-edit font-size-14"></em>
                  </a>
                  <a
                    href="javascript: void(0);"
                    class="align-middle"
                    (click)="deletePromo(promo.id)"
                    placement="left"
                    container="body"
                    ngbTooltip="Hapus"
                  >
                    <em class="fa fa-trash font-size-14"></em>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="showForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-header d-flex justify-content-between">
          <h1>{{ titleForm }}</h1>
        </div>
        <div class="card-body">
          <app-form-promo
            [promoId]="promoId"
            (afterSave)="showForm = false"
          ></app-form-promo>
        </div>
      </div>
    </div>
  </div>
</div>
