.dndPlaceholder{
    background-color: #2e8fa4;
    display: line;
    // min-height: 0,5px;
    max-height: 0,5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid rgba(86, 61, 124, 0.2);
    position: relative;
    border: 3px;
}